# --- SEGURIDAD Y CREDENCIALES ---
# Evita subir tus tokens y contraseñas de Azure/Meta
.env
*.env
env/
venv/
ENV/

# --- PYTHON ---
# Archivos compilados y temporales de Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# --- BASE DE DATOS ---
# Archivos temporales o de logs de SQL Server si usaras locales
*.log
*.sql.bak
*.sql.tmp

# --- DOCKER ---
# Si bien el Dockerfile se sube, a veces hay logs de docker
.dockerignore

# --- EDITORES Y SISTEMA ---
# Archivos basura de Windows, Mac o Editores de código
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# --- VIRTUAL ENV ---
# Carpeta de entorno virtual (muy importante no subirla)
venv/
.venv/