/****** Object:  Table [dbo].[AuditLog]    Script Date: 10/5/2026 23:55:07 ******/
Create Database GastosAPI
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[IdLog] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[Endpoint] [varchar](100) NULL,
	[Metodo] [varchar](10) NULL,
	[CodigoEstado] [int] NULL,
	[MensajeError] [nvarchar](max) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLog] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Credencial]    Script Date: 10/5/2026 23:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credencial](
	[IdCredencial] [int] IDENTITY(1,1) NOT NULL,
	[ProviderUserId] [varchar](255) NULL,
	[Contrasena] [varchar](max) NULL,
	[IdUsuario] [int] NOT NULL,
	[IdProvider] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCredencial] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoBotWA]    Script Date: 10/5/2026 23:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoBotWA](
	[IdUsuario] [int] NOT NULL,
	[EstadoActual] [varchar](50) NULL,
	[DatosTemporales] [nvarchar](max) NULL,
	[FechaUltimaInteraccion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 10/5/2026 23:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[IdMovimiento] [bigint] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdTipo] [int] NOT NULL,
	[Concepto] [varchar](150) NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[CategoriaTag] [varchar](50) NULL,
	[FuenteRegistro] [varchar](20) NULL,
	[FechaMovimiento] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProveedorAutorizacion]    Script Date: 10/5/2026 23:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProveedorAutorizacion](
	[IdProvider] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProvider] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 10/5/2026 23:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovimiento]    Script Date: 10/5/2026 23:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimiento](
	[IdTipo] [int] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Naturaleza] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/5/2026 23:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [varchar](50) NOT NULL,
	[SegundoNombre] [varchar](50) NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NULL,
	[Correo] [varchar](100) NOT NULL,
	[TelefonoWA] [varchar](20) NULL,
	[FechaCreacion] [datetime] NULL,
	[Estado] [char](1) NULL,
	[IdRol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TelefonoWA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLog] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[EstadoBotWA] ADD  DEFAULT ('IDLE') FOR [EstadoActual]
GO
ALTER TABLE [dbo].[EstadoBotWA] ADD  DEFAULT (getdate()) FOR [FechaUltimaInteraccion]
GO
ALTER TABLE [dbo].[Movimiento] ADD  DEFAULT ('Varios') FOR [CategoriaTag]
GO
ALTER TABLE [dbo].[Movimiento] ADD  DEFAULT (getdate()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ('A') FOR [Estado]
GO
ALTER TABLE [dbo].[Credencial]  WITH CHECK ADD  CONSTRAINT [FK_Credencial_Provider] FOREIGN KEY([IdProvider])
REFERENCES [dbo].[ProveedorAutorizacion] ([IdProvider])
GO
ALTER TABLE [dbo].[Credencial] CHECK CONSTRAINT [FK_Credencial_Provider]
GO
ALTER TABLE [dbo].[Credencial]  WITH CHECK ADD  CONSTRAINT [FK_Credencial_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Credencial] CHECK CONSTRAINT [FK_Credencial_Usuario]
GO
ALTER TABLE [dbo].[EstadoBotWA]  WITH CHECK ADD  CONSTRAINT [FK_Bot_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[EstadoBotWA] CHECK CONSTRAINT [FK_Bot_Usuario]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Mov_Tipo] FOREIGN KEY([IdTipo])
REFERENCES [dbo].[TipoMovimiento] ([IdTipo])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Mov_Tipo]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Mov_User] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Mov_User]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Rol] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]

